<xperu-nav-bar home=1 anuncios=0 postular=0 contact=0 agenda=0 miscelanea=0></xperu-nav-bar>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-2">
			<div class="sidebar-nav list_home">
				<div class="nav navbar-default">
					<ul class="nav navbar-nav">
						<li><a href="">La Ecole Polytechnique</a></li>
						
						<li><a href="">Las diferencias entre los sistemas educativos</a></li>

						<li><a href="">La vida dentro y despues de Polytechnique</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-8 homepage">
			<h1>Bienvenidos</h1>

			<p class="text-justify">Este sitio web est&aacute; dirigido a estudiantes y/o egresados universitarios peruanos, menores de 26 a&ntilde;os, cuyas carreras sean de ciencia o ingenier&iacute;a, que busquen complementar sus estudios en el extranjero.
			</p>

			<p class="text-justify">La &Eacute;cole Polytechnique de Paris es la escuela de ingenieros m&aacute;s importante de Francia, heredera de una gran tradici&oacute;n cient&iacute;fica, Polytechnique fue la casa de estudios de grandes personajes como: Cauchy, Becquerel, Coriolis, Poincar&eacute;, Carnot, Fresnel, Gay-Lussac entre otros.
			</p>

			<p class="text-justify">Presente tambien en el mundo empresarial, podemos encontrar a los fundadores de las empresas: Citroen, Alstom, Axa, BNP Paribas, Nissan/Renault, Safran, Thales entre otras.
			</p>

			<p class="text-justify">Polytechnique cuenta actualmente con programas de ingenieria, masters, doctorados y post-doctorados. Para su programa principal, llamado "Cycle Ingénieur" solamente son admitidos aproximadamente 500 alumnos por a&ntilde;o. 	
			</p>

			<p class="text-justify">De estos 500, alrededor de 100 son extranjeros, reclutados en Francia y alrededor del mundo. Desde el 2007 los peruanos formamos parte de estos estudiantes seleccionados.
			</p>

			<p class="text-justify">Preocupados por mantener la presencia de los peruanos en la &Eacute;cole Polytechnique, y transmitir nuestra experiencia a las siguientes generaciones; nosotros, los peruanos egresados y aun estudiantes de l'X hemos creado esta web.
			</p>

			<p class="text-justify">Aqui encontraras una descripcion detallada de:
			</p>

			<ul>
				<li>Que es la &Eacute;cole Polytechnique?</li>
				<li>Las diferencias entre el sistema de educaci&oacute;n franc&eacute;s y el peruano</li>
				<li>El programa de estudios propuesto por la &Eacute;cole</li>
				<li>Que necesitas para postular</li>
				<li>Financiamiento : Becas y Prestamos</li>
				<li>Interesad@? <b>nosotros te ayudamos a prepararte para los examenes de admision</b></li>
				<li>La vida dentro y despues de l'X</li>
			</ul>
			</div>
		</div>
	</div>