<xperu-nav-bar home=1 anuncios=0 postular=0 contact=0 agenda=0 miscelanea=0></xperu-nav-bar>

<div class="container-fluid">
	<h1>Bienvenidos</h1>

	<p>Este sitio web esta dirigido a estudiantes peruanos universitarios, que esten en busca de oportunidades de maestria en el extranjero.</p> 
	<p>La Ecole Polytechnique de Paris (aqui falta un Link) es la escuela de ingenieros mas importante de Francia, con una gran tradicion cientifica y empresarial, profesores con gran trayectoria en el mundo cientifico (medallas fields, premios nobel) esta acepta por an&ntilde;o a 500 alumnos. </p>
	<p>La Ecole Polytechnique de Paris recluta cada a&ntilde;o alrededor de 100 estudiantes extranjeros, desde el 2007 los peruanos formamos parte de estos estudiantes seleccionados.</p>
</div>