<div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="headerXPeru">
          <div class="navbar-center">
            <a class="navbar-brand" rel="home" href="#" title="Ecole Polytechnique">
              <img src="/img/logo.png">
            </a>
          </div>
          <div class="nav navbar-top-links navbar-right">
            <img src="img/XPeru.jpg" style="width:130px;height:130px">
          </div>
      </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row">
  <div class="container-fluid" style="border:solid; border-width:1px; padding-right:0;">
    <ul class="nav nav-pills">
      <li class="pull-left" ng-class="{'active':home==1}"><a ui-sref="home" ui-sref-opts="{reload: false}">Inicio</a>
      </li>
      <li class="pull-left" ng-class="{'active':anuncios==1}"><a ui-sref="anuncios" ui-sref-opts="{reload: false}">Anuncios</a>
      </li>
      <li class="pull-left" ng-class="{'active':postular==1}"><a ui-sref="postular" ui-sref-opts="{reload: false}">Postular a Polytechnique</a>
      </li>
      <li class="pull-left" ng-class="{'active':contact==1}"><a ui-sref="contact" ui-sref-opts="{reload: false}">Contactanos</a>
      </li>
      <li class="pull-right" ng-class="{'active':agenda==1}"><a ui-sref="agenda" ui-sref-opts="{reload: false}">Agenda</a>
      </li>
      <li class="pull-right" ng-class="{'active':miscelanea==1}"><a ui-sref="miscelanea" ui-sref-opts="{reload: false}">Miscelanea</a>
      </li>
    </ul>
  </div>
</div>
